.scrollbarSmall {
    scrollbar-width: thin;
}

.scrollbarSmall::-webkit-scrollbar {
    width: 8px;
}

.scrollbarSmall::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbarSmall::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 5px;
    border: transparent;
}

#roomlist {
    @apply p-2 px-4 overflow-y-auto overflow-x-hidden scrollbarSmall gap-1;
    grid-area: roomlist;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;

    .room-section {
        user-select: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 0.5rem;
    }
}