#main-container {
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
        "sidebar editor";
    grid-template-columns: 40ch auto;
    grid-template-rows: 60px 2fr auto;
    grid-auto-flow: column;
    row-gap: 0.5rem;
    column-gap: 0.15em;

    #sidebar {
        grid-area: sidebar;
        @apply bg-gradient-to-br from-slate-100 via-gray-200 to-orange-200 border-r-[1px] border-slate-300;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: min-content auto;
        grid-template-areas:
            "user-info"
            "roomlist";
        height: 100vh;

        #user-info {
            @apply p-3 items-center border-b-2;
            grid-area: user-info;
            gap: 1rem;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: min-content min-content;
            grid-template-areas:
                "avatar username"
                "search search";
            align-items: center;
            justify-self: flex-start;
            width: 100%;

            #username-container {
                grid-area: username;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                span {
                    color: black;
                    font-size: 1rem;
                    font-weight: var(--semibold-font);
                }
            }

            #search-container {
                grid-area: search;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
    }

    .room-wrapper {
        grid-area: header / header / editor-end / editor-end;
    }

    #room-info {
        @apply pb-2 border-b-2 pt-4 pl-2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        grid-area: header;

        @media (prefers-color-scheme: dark) {
            @apply border-slate-700;
        }

        #room-name {
            color: var(--text-color);
            font-size: var(--font-size-base);
            font-weight: var(--semibold-font);
        }
    }

    #chat-view {
        grid-area: main;
    }

    #chat-editor {
        grid-area: editor;
    }
}

#modal {
    display: grid;
    grid-template-areas:
        "sidebar main-area x"
        "sidebar main-area main-area2";
    grid-template-columns: 20ch auto 25px;
    grid-template-rows: 25px auto;
    gap: 0.75rem;
    width: 70%;
    margin: 0 auto;
    background-color: var(--background-color) !important;

    #modal-sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    #modal-content {
        grid-row-start: main-area;
        grid-row-end: main-area;
        grid-column-start: main-area;
        grid-column-end: main-area2;
        z-index: 0;

        #profile-view {
            display: grid;
            grid-template-areas:
                "title    avatar"
                "inputs   avatar"
                "inputs   other";
            gap: 1rem;
            row-gap: 0.5rem;
            align-items: flex-start;

            #title {
                grid-area: title;
                @apply text-xl font-bold text-black flex items-center;
            }

            label {
                @apply flex relative flex-row items-center rounded-lg justify-center;

                input {
                    &::placeholder {
                        @apply text-slate-600;
                        // TODO: This is not aligned and I cant get it working :(
                    }

                    &:hover {
                        @apply bg-slate-400/25 outline;
                    }

                    @apply py-2 rounded-lg pl-10 outline-slate-700 w-full outline-2 bg-slate-400/50;
                }
            }

            #inputs {
                grid-area: inputs;
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                #matrixid {
                    input:hover {
                        outline: none;
                    }
                }
            }

            #avatar {
                grid-area: avatar;
                justify-self: flex-end;
                align-self: flex-end;
                margin: 1rem;
                @apply border-slate-700 rounded-full border-2;
            }


        }
    }

    #modal-cross {
        &:hover {
            @apply bg-slate-300;
        }

        @apply stroke-slate-600 rounded-full p-1 cursor-pointer;
        grid-area: x;
        justify-self: center;
        align-self: center;
        z-index: 1;
    }
}