.avatar {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        color: transparent;
        object-fit: cover;

        &::after {
            border-radius: 50%;
            content: attr(alt);
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            color: white;
            background-color: var(--orange-500);
            white-space: pre;
            padding-left: calc(50% - 0.5ch);
            font-family: monospace;
            letter-spacing: 2rem;
        }
    }

    .online,
    .offline,
    .unknown {
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
    }

    .online {
        background-color: var(--green-500);
    }

    .offline {
        background-color: var(--red-500);
    }

    .unknown {
        background-color: var(--gray-500);
    }
}