@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  height: 100%;
}

a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity)) !important;

  &:hover {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity)) !important;
  }

  &:active {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity)) !important;
  }

  &:visited {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity)) !important;
  }
}

code {
  @apply rounded font-normal text-red-500 bg-slate-100 p-0.5;
}

pre {
  @apply rounded p-2 bg-slate-200 border-2 border-slate-500 min-w-[28.5rem] whitespace-pre-wrap;

  code {
    @apply p-0 bg-transparent text-black;
  }
}

/**
  * Blockquote should be light grey with a thick left border
  */
blockquote {
  @apply border-l-4 border-gray-300 p-4 py-0 bg-slate-100;
  border-radius: 0 0.375rem 0.375rem 0;
}